/*font-family: 'Amatic SC', cursive;
font-family: 'Roboto Slab', serif;*/
html, body {
	position: relative;
	overflow-x: hidden;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
p:not(:last-child) {
	margin-bottom: 40px;
}
a {
	text-decoration: none;
}
.overflowy {
	overflow-y: hidden;
}
.bg-noise {
	background-image: url('../image/elements/bg-noise-pattern.png');
}
.bg-gray{
	background-color: #F6F6F6;
}
.section {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}
.button {
	font-family: Amatic SC;
	font-weight: bold;
	font-size: 28px;
	color: #fff;
	text-decoration: none;
	padding: 4px 29px;
	border-radius: 5px;
	background-color: #3C3973;
	display: inline-block;
}
.text-center {
	text-align: center;
}
.md-show {
	display: none;
}
@media (max-width: 768px){
	.md-hide {
		display: none;
	}
	.md-show {
		display: inline-block;
	}
}

/* ********** Начало CONTAINER ********** */

@media (min-width: 576px){
	.container {
		max-width: 570px;
	}
}
@media (min-width: 768px){
	.container {
		max-width: 750px;
	}
}
@media (min-width: 992px){
	.container {
		max-width: 990px;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1170px;
	}
}
.container {  
	margin: auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

/* ********** Конец CONTAINER ********** */

/* ********** Начало HEADER ********** */
.header {
	position: relative;
}
.header-top-wrapper	{
	background-color: #fff;
}
.header-top-flexbox {
	display: flex;
	justify-content: space-between;
	max-height: 100px;
}
.header-top-logo-wrapper {
	max-width: 100px;
}
.header-top-logo {
	height: 100%; 
	box-sizing: border-box;
	padding-top: 6px;
	padding-bottom: 20px;
}
.header-nav-wrapper {
	
}
.header-nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
}
.header-nav-item {
	list-style: none;
}
.header-nav-item:not(:last-child) {
	margin-right: 42px;
}
.header-nav-item-link {
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Amatic SC;
	font-weight: bold;
	font-size: 28px;
	color: #3C3973;
}
.header-nav-item-link-text {
	
}
.header-nav-link-text:after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #3C3973;
	transition: width 0.3s;
}
.header-nav-item:hover .header-nav-link-text:after {
	width: 100%;
}
.header-top-icons-list {
	display: flex;
	align-items: center;
}
.header-top-icons-item:not(:last-child) {
	margin-right: 8px;
}
.header-bottom {
	position: relative;
	min-height: 325px;
	overflow: hidden;
}
.header-bottom-pictures-wrapper {

}
.header-bottom-picture:first-child {
	position: absolute;
	left: 35%;
	top: -25px;
}
.header-bottom-picture:last-child {
	position: absolute;
	left: 40%;
	top: 90%;
	transform: translateY(-100%);
}
.header-bottom-foto {
	position: absolute;
	bottom: 0;
	right: -50px;
}
/* start nav toggle */
.header-nav-button {
	display: none;
	width: 27px;
	height: 18px;
	cursor: pointer;
}
.nav-icon-line {
	position: relative;
	width: 27px;
	height: 3px;
	border-radius: 1.5px;
	top: 7px;
	background-color: #3C3973;
	-webkit-transition: background-color 0s linear 0.2s;
	-o-transition: background-color 0s linear 0.2s;
	transition: background-color 0s linear 0.2s;
}
.nav-icon-line::before {
	position: absolute;
	left: 0;
	top: -7px;
	content: '';
	width: 27px;
	height: 3px;
	border-radius: 1.5px;
	background-color: #3C3973;
	-webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
	transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
	-o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.nav-icon-line::after {
	position: absolute;
	left: 0;
	top: 7px;
	content: '';
	width: 27px;
	height: 3px;
	border-radius: 1.5px;
	background-color: #3C3973;
	-webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
	transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
	-o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.header-nav-button.header-nav-button-active .nav-icon-line {
	background-color: transparent;
	-webkit-transition: background-color 0s linear 0.2s;
	-o-transition: background-color 0s linear 0.2s;
	transition: background-color 0s linear 0.2s;
}
.header-nav-button.header-nav-button-active .nav-icon-line::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 0;
	-webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
	-o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.header-nav-button.header-nav-button-active .nav-icon-line::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top: 0;
	-webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
	-o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
/* end nav toggle*/
@media (max-width: 1200px){
	.header-nav-wrapper {
		display: flex;
		align-items: center;
		z-index: 150;
	}
	.header-nav-button {
		display: block;
	}
	.header-nav-list {
		position: absolute;
		overflow-y: auto;
		padding-bottom: 100px;
		height: 100%;
		top: 100px;
		right: -250px;
		flex-direction: column;
		background-color: #fff;
		transition: transform 0.5s; 
	}
	.header-nav-item {
		width: 100%;
		max-width: 250px;
		margin-right: 0!important;
	}
	.header-nav-item:not(:last-child) {
		border-bottom: 1px solid #3C3973;
	}
	.header-nav-item-link {
		padding: 10px 30px;
		box-sizing: border-box;
	}
	.header-nav-show {
		transform: translateX(-250px);
	}
	.header-top-icons-list {
		display: none;
	}
}
@media (max-width: 992px){
	.header-bottom-picture {
		display: none;
	}
	.header-bottom-foto {
		right: -300px;
	}
}
@media (max-width: 768px){
	.header-bottom-logo {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.header-bottom-foto {
		position: relative;
		width: 100%;
		right: 50%;

		transform: translateX(50%) scale(1.1);
	}
	.header-bottom-picture:first-child {
		display: block;
		left: 70%;
		top: 55%;
		transform: translateY(-50%) scale(0.7);
	}
}
/* ********** Конец HEADER ********** */

/* ********** Начало ФОТОГРАФИЙ ********** */
.foto-section-wrapper {
	position: relative;
}
.foto-tab-list {
	height: 82px;
	margin-bottom: 46px;
	margin-left: auto;
	margin-right: auto;
}
.foto-tab-item {
	outline: none;
}
.foto-slider-item-wrapper {
	outline: none;
}
.foto-slider-item {
	display: flex;
	padding: 0px 10px;
}
.foto-slider-content {
	width: 50%;
}
.foto-slide-title {
	font-family: Roboto Slab;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	color: #3C3973;
}
.foto-slide-text {
	font-family: Roboto Slab;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
}
.foto-slider-foto {
	width: 50%;
}
.foto-slider-foto img {
	width: 100%;
}
.foto-slider-button {
	margin-top: 45px;
	margin-bottom: 45px;
}
.slick-prev-a {
	border-radius: 0 0 10px 10px;
	position: absolute;
	border: none;
	outline: none;
	left: -100px;
	top: 0;
	width: 81px;
	height: 42px;
	background-color: #C5DA9A;
}
.slick-next-a {
	border-radius: 0 0 10px 10px;
	position: absolute;
	border: none;
	outline: none;
	right: -100px;
	top: 0;
	width: 81px;
	height: 42px;
	background-color: #C5DA9A;
}
.foto-section-wrapper .slick-disabled {
	opacity: .3;
}
.foto-slider-list .slick-dots {
	display: none!important;
}
.foto-tab-list .slick-list {
	overflow-x: hidden;
	overflow-y: visible!important;
	height: 100%;
}
@media (max-width: 1200px){
	.foto-tab-list {
		max-width: calc(100% - 181px);
	}
}
@media (max-width: 768px){
	.foto-tab-list {
		margin-bottom: 0;
	}
	.foto-slider-item {
		flex-direction: column;
	}
	.foto-slider-foto {
		width: 100%;
	}
	.foto-slider-content {
		width: 100%;
	}
	.foto-slider-item-wrapper {
		text-align: center;
	}
	.foto-slider-button {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
@media (max-width: 375px){
	.foto-tab-list {
		max-width: calc(95% - 181px);
	}
	.shapes-item {
		padding-right: 5px;
		padding-left: 5px;
	}
}

/* Анимация вкладок */
.foto-tab-item > .shapes-item {
	align-self: center;
	margin: 0 auto;
	background-color: #C5DA9A;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 80px;
	min-height: 42px;
	color: #748552;
	transition: all .2s linear;
}
.shapes-item__text {
	display: block;
	position: absolute;
	top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	position: relative;
	z-index: 10;
	font-family: Roboto Slab;
	font-weight: normal;
	font-size: 18px;
	transition: top .2s linear;
}
.shapes-item__left {
	background-color: #C5DA9A;
	border-radius: 0 0 0 10px;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: -0px;
	left: 0;
	transform: skewY(0);
	transition: all .2s linear;
	height: 20px;
	width: calc(50% + 1px); /*	FIX	*/
}
.shapes-item__right {
	background-color: #C5DA9A;
	border-radius: 0 0 10px 0;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: -0px;
	right: 0;
	transition: all .2s linear;
	transform: skewY(0);
	height: 20px;
	width: calc(50% + 1px); /*	FIX	*/
}
.tab-active .shapes-item__left {
	height: 40px;
	bottom: -30px;
	transform: skewY(-25deg);
	background-color: #3C3973;
}
.tab-active .shapes-item__right {
	height: 40px;
	bottom: -30px;
	transform: skewY(25deg);
	background-color: #3C3973;
}
.tab-active .shapes-item {
	border-radius: 0;
	background-color: #3C3973;
	color: #fff;
}
.tab-active .shapes-item__text {
	top: 15px;
}
.shapes-item:hover,
.shapes-item:hover .shapes-item__left,
.shapes-item:hover .shapes-item__right {
	background-color: #3C3973;
	color: #fff;
}
/* ********** Конец ФОТОГРАФИЙ ********** */

/* ********** Начало Личные истории и контекста ********** */
.section-head-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-title {
	margin: 0;
	display: inline-block;
	font-family: Amatic SC;
	font-weight: bold;
	font-size: 58px;
	text-transform: uppercase;
	color: #3C3973;
}
.section-card-list {
	overflow: hidden;
	padding-top: 31px;
}
.section-card-list .slick-list {
	overflow: visible;
}
.section-card-item-wrapper {
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	transition: transform .3s;
}
.section-card-item-wrapper:hover {
	transform: translateY(-15px);
}
.section-card-item{
	outline: none;
	display: block;
	margin: 0 auto;
	max-width: 352px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
}
.section-card-item-image-wrapper { 
	position: relative;
}
.section-card-item-image-wrapper img { 
	display: block;
}
.section-card-item-category {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px 32px 5px;
	font-family: Roboto Slab;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	border-radius: 5px 0px;
}
.green-category {
	background-color: #C5DA9A;
	color: #748552;
}
.orange-category {
	background-color: #FDB137;
	color: #fff;
}
.blue-category {
	background-color: #3C3973;
	color: #fff;
}
.section-card-item-text {
	background-color: #fff;
	height: 100%;
	max-width: 352px;
	padding: 21px 32px;
	box-sizing: border-box;
}
.section-card-item-date {
	font-family: Roboto Slab;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #8D8D8D;
	margin-bottom: 13px;
}
.section-card-item-title {
	font-family: Roboto Slab;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	color: #3C3973;
}
.section-slider-prev,
.section-slider-next {
	outline: none;
	position: relative;
	border: none;
	background-color: #C5DA9A;
	width: 32px;
	height: 32px;
	border-radius: 50px;
}
.section-slider-prev img,
.section-slider-next img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section-head-wrapper .slick-disabled {
	opacity: 0.5;
}
@media (max-width: 768px){
	.section-button-wrapper {
		padding-top: 45px;
	}
	.section-card-item-text {
		text-align:	center;
	}
	.section-title {
		font-size: 46px;
	}
}
/* ********** Конец Личные истории и контекста ********** */

/* ********** Начало карты ********** */
.section-map {
	overflow: hidden;
	position: relative;
	min-height: 645px;
}
.map-section-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.map-section-description {
	position: relative;
	z-index: 10;
	margin-top: 45px;
	margin-bottom: 45px;
}
.map-card-list {
	max-width: 352px;
	margin-bottom: 0!important;
}
.map-card-item {
	outline: none;
	margin-top: 30px;
	max-width: 352px;
	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
}
.map-card-header {
	background: #3C3973;
	padding: 10px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.map-card-title {
	font-family: Amatic SC;
	font-weight: bold;
	font-size: 44px;
	line-height: 55px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.map-slide-index-wrapper {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #C5DA9A;
	border-radius: 20px;
}
.map-slide-index {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Roboto Slab;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.map-card-content {
	padding: 32px;
	font-family: Roboto Slab;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
}
.map-card-worktime {
	color: #3C3973;
}
.map-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	transform: translateX(30%);
}
.map-card-list .slick-dots {
	display: none!important;
}

/* ********** Конец карты ********** */
/*@media (max-width: 2100px){
	.map-wrapper {
		transform: translateX(40vh);
	}
}
@media (max-width: 1440px){
	.map-wrapper {
		transform: translateX(60vh);
	}
}
@media (max-width: 1200px){
	.map-section-wrapper {
		display: block;
	}
	.map-section-description {
		margin-bottom: 0;
	}
	.map-card-list {
		max-width: 100%;
	}
	.map-card-item {
		max-width: 100%;
	}
	.map-wrapper {
		position: relative;
		transform: none;
	}
}*/